%header.header-top
  %h1.header-top__h1
    = link_to "https://www.mercari.com/jp/" do
      %img.header-top__img_mercal-log{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3703848211", width: '185px', height: '49px', alt: "mercari"}
