%header.header_top
  %h1
    %a{href: "https://www.mercari.com/jp/"}
    %img.mercal-log_header{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3703848211", width: '185px', height: '49px', alt: "mercari"}
