%footer.single_footer
  %nav
    %ul.clearfix
      %li
        %a{href: "https://www.mercari.com/jp/privacy/"}プライバシーポリシー
      %li
        %a{href: "https://www.mercari.com/jp/tos/"}メルカリ利用規約
      %li
        %a{href: "https://www.mercari.com/jp/tokutei/"}特定商取引に関する表記
  %a.single-footer-logo{href: "https://www.mercari.com/jp/"}
    %img.mercal-log_footer{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3679504431", alt: "mercari", height: "65px", width: "80px"}
  %p.copyright © 2019 Mercari
