%footer.single-footer
  %nav
    %ul.single-footer-ul
      %li.single-footer-ul__li
        = link_to "プライバシーポリシー" , "https://www.mercari.com/jp/privacy/"
      %li.single-footer-ul__li
        = link_to "メルカリ利用規約" , "https://www.mercari.com/jp/tos/"
      %li.single-footer-ul__li
        = link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"

  = link_to "https://www.mercari.com/jp/", class: "mercari-log" do
    %img.single-footer__img_mercari-log{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3679504431", alt: "mercari", height: "65px", width: "80px"}
  %p.single-footer__p © 2019 Mercari
