  .header_top {
    height: 128px;
    background-color: $body;
    position: relative;
    h1 {
        height: 49px;
        width: 193px;
        display: block;
        @include block_central;
        position: absolute;
    }
   }
